<div class="new-log">
  <div class="new-img-desktop" style="background-image:url('<%= cl_image_path('half-cascade-cocktails_ebfafn') %>')">
    <p class='back-to-cocktails'><i class="fas fa-long-arrow-alt-left"></i> <%= link_to 'Back to all cocktails', cocktails_path, class:'back-to-cocktails' %></p>
  </div>
  <div class="new-img-mobile" style="background-image:url('<%= cl_image_path('mobile_cascade_cocktails_lo8pee') %>')">
    <p class='back-to-cocktails'><i class="fas fa-long-arrow-alt-left"></i> <%= link_to 'Back to all cocktails', cocktails_path, class:'back-to-cocktails' %></p>
  </div>
  <div class="sign-user-page">
    <h1>Sign up to add your favorite cocktails !</h1>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up", class:'btn-sign' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
