<div class='index'>
  <div class="box">
        <p class='header-title'>LOOK AT</p>
        <h1 class='header-title'><span class='title-home'>THE <span class='header-shadow'>COCKTAILS</span></span></h1>
        <p class='header-title'>YOU'RE GONNA TASTE</p>
  </div>
  <div class='home-bas'>
    <div class='cards-box'>
      <% @cocktails.each_with_index do |cocktail, index| %>
        <% if index % 2 == 0 %>
          <div class='card-low'>
            <%= link_to (image_tag cocktail.photo),  cocktail_path(cocktail), class:'photo-cocktail' %>
            <%= link_to cocktail.name, cocktail_path(cocktail), class: 'cocktail-name' %>
          </div>
        <% else %>
          <div class='card-normal'>
            <%= link_to (image_tag cocktail.photo),  cocktail_path(cocktail), class:'photo-cocktail' %>
            <%= link_to cocktail.name, cocktail_path(cocktail), class: 'cocktail-name' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id='missing-cocktail'>
      <h2 class='missing-title'>can't find your favorite cocktail?<br>Add it!</h2>
      <div class='btn-margin'>
        <%= link_to 'Add a cocktail', new_cocktail_path, class:"btn-white" %>
      </div>
    </div>
  </div>
</div>
