<div class="all-index-page">
  <div class="header" style="background-image:url('<%= cl_image_path('cocktail-cascade_uibo7g') %>')">
    <p class='header-title'>LOOK AT</p>
    <h1 class='header-title'><span class='title-home'>THE <span class='header-shadow'>COCKTAILS</span></span></h1>
    <p class='header-title'>YOU'RE GONNA TASTE</p>
  </div>

  <div class='cards-box'> 
    <% @allcocktails = @cocktails.sort_by {|obj| obj.name} %>
    <% @allcocktails.each_with_index do |cocktail, index| %>
      <% if index % 2 == 0 %>
        <div class='card-low'>
          <%= link_to (image_tag cocktail.photo),  cocktail_path(cocktail) %>
          <%= link_to cocktail.name, cocktail_path(cocktail), class: 'cocktail-name' %>
        </div>
      <% else %>
        <div class='card-normal'>
          <%= link_to (image_tag cocktail.photo),  cocktail_path(cocktail) %>
          <%= link_to cocktail.name, cocktail_path(cocktail), class: 'cocktail-name' %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id='missing-cocktail'>
    <h2 style="color:white">Can't find your favorite cocktail? <br>Add it!</h2>
    <%= link_to 'Add a cocktail', new_cocktail_path, class:"btn-white", id:'btn-add-cocktail' %>
  </div>
</div>