
<div class='new-cocktail'>
  <div class="new-img-desktop" style="background-image:url('<%= cl_image_path('half-cascade-cocktails_ebfafn') %>')">
     <%= link_to cocktails_path, class:'back-to-cocktails' do %>
    <i class="fas fa-long-arrow-alt-left"></i><p class='back-to-cocktails'>Back to all cocktails</p>
   <% end %>   <%= link_to cocktails_path, class:'back-to-cocktails' do %>
    <i class="fas fa-long-arrow-alt-left"></i><p class='back-to-cocktails'>Back to all cocktails</p>
   <% end %>
  </div>
  <div class="new-img-mobile" style="background-image:url('<%= cl_image_path('mobile_cascade_cocktails_lo8pee') %>')">
     <%= link_to cocktails_path, class:'back-to-cocktails' do %>
    <i class="fas fa-long-arrow-alt-left"></i><p class='back-to-cocktails'>Back to all cocktails</p>
   <% end %>   <%= link_to cocktails_path, class:'back-to-cocktails' do %>
    <i class="fas fa-long-arrow-alt-left"></i><p class='back-to-cocktails'>Back to all cocktails</p>
   <% end %>
  </div>

  <div class='new-cocktail-form-mobile'>
    <h1 class='new-cocktail-title'>Your <span>new cocktail</span></h1>
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.text_field :name, placeholder:'Cocktail\'s name...', id:'form-name'%>
      <%= f.input :photo, as: :file, label:false %>
      <%= f.submit class:'btn-new-submit' %>
    <% end %>
  </div>

  <div class='new-cocktail-form-desktop'>
    <h1 class='new-cocktail-title'>What is your <span>new cocktail</span> ?</h1>
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.text_field :name, placeholder:'Cocktail\'s name', id:'form-name'  %>
      <%= f.input :photo, as: :file, label:false %>
      <%= f.submit class:'btn-new-submit'%>
  </div>
      
    <% end %>


</div>
