<div class="cocktail-show-header">
  <div style="background-image: url(<%= rails_blob_url(@cocktail.photo) %>)", class="photo-cocktail-show">
   <p class='back-to-cocktails'><i class="fas fa-long-arrow-alt-left"></i> <%= link_to 'Back to all cocktails', cocktails_path, class:'back-to-cocktails' %></p>
  </div>

  <div class="cocktail-show-info">
    <h1 class="cocktail-name-title"><%= @cocktail.name %></h1>

    <% if @cocktail.instructions == [] %>
      <h2 style="margin-bottom: 40px">This cocktail has no recipe at the moment.</h2>
      <% if user_signed_in? %>
        <% if @cocktail.user == current_user %>
          <a class='circle' id='btn-total-form'><i class="fas fa-plus buble-i"></i> Feed this cocktail</a>
          <a class='circle d-none' id='btn-hide-total-form'><i class="fas fa-minus buble-i"></i> Feed this cocktail </a>
          <%= render "instructions/new", cocktail: @cocktail, instruction: @instruction %>
        <% end %>
      <% else %>
      <div class='have-to-log'>
        <i class="fas fa-plus buble-i"></i>
        <p>This cocktail is yours? <%= link_to 'Log in', new_user_session_path %> to modify it.</p>
      </div>
      <% end %>

    <% else %>
      <% @cocktail.instructions.each do |instruction| %>
        <div class='instructions-all'>
          <p><%= instruction.quantity.capitalize %> of  <%= instruction.ingredient.name.downcase %></p>
          <% if @cocktail.user == current_user %>
            <%= link_to instruction_path(instruction), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <% if @cocktail.user == current_user %>
          <a class='circle' id='btn-total-form'><i class="fas fa-plus buble-i"></i> Add an instruction</a>
          <a class='circle d-none' id='btn-hide-total-form'><i class="fas fa-minus buble-i"></i> Add an instruction</a>
          <%= render "instructions/new", cocktail: @cocktail, instruction: @instruction %>
        <% end %>
      <% else %>
        <div class='have-to-log'>
          <i class="fas fa-plus buble-i"></i>
          <p>This cocktail is yours? <%= link_to 'Log in', new_user_session_path %> to modify it.</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% if user_signed_in? %>
  <div id="new-ingredient">
    <h2 class="white-title">You need a <u>new ingredient</u> to feed your cocktail? <u>Add it!</u></h2>
    <%= render "ingredients/new", ingredient: @ingredient %>
  </div>
<% end %>
