<div class="cocktail-show-header">
  <div style="background-image: url(<%= rails_blob_url(@cocktail.photo) %>)", class="photo-cocktail-show">
   <p class='back-to-cocktails'><i class="fas fa-long-arrow-alt-left"></i> <%= link_to 'Back to all cocktails', cocktails_path, class:'back-to-cocktails' %></p>
  </div>

  <div class="cocktail-show-info">
    <h1 class="cocktail-name-title"><%= @cocktail.name %></h1>

    <% if @cocktail.instructions == [] %>
      <h2>This cocktail has no recipe at the moment.</h2>
      <a class='circle' id='btn-add-instruction'><i class="fas fa-plus"></i> Add a dose</a>
      <%= render "instructions/new", cocktail: @cocktail, instruction: @instruction %>
      <a href='#new-ingredient'>Feed this cocktail</a>
    <% else %>
      <% @cocktail.instructions.each do |d|%>
        <p><%= d.quantity.capitalize %> of  <%= d.ingredient.name.downcase %></p>
      <% end %>
    <a class='circle' id='btn-total-form'><i class="fas fa-plus buble-i"></i> Add a dose</a>
      <%= render "instructions/new", cocktail: @cocktail, instruction: @instruction %>
    <% end %>
  </div>
</div>
<div id="new-ingredient">
  <h2 class="white-title">Need to add an ingredient? Let's  dot it!</h2>
  <%= render "ingredients/new", ingredient: @ingredient %>
</div>
