<!DOCTYPE html>
<html>
  <head>
    <title>CocktailCode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <div id="avatar">
      <button class="dropdown-toggle" type="button">
        <i class="fas fa-user"></i>
      </button> 
      </div>       
      <div id="log" class="d-none">
        <% if user_signed_in? %>
          <i class="fas fa-user"></i><%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% else %>
          <i class="fas fa-user"></i><%= link_to 'Log in', new_user_session_path %>
        <% end %>
    </div>
    <%= yield %>
  </body>
</html>
